<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --grey-bg: #e5e5e5;
  --blck-bg: #000000;
  --grey-txt: #646464;
  --white-txt: #fdfdfd;
  --red-clr: #ca3042;
  --grn-clr: #1f8b02;
  --max-width: 1140px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--grey-bg);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--blck-bg);
  color: var(--white-txt);
  border: 2px solid var(--blck-bg);
}
